body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  background: rgb(35, 35, 35);
  background-image: url(/src/marvelbackgrd.jpg);
  
  
}


h1,
h4 {
  text-align: center;
}



.card-body>h5,
p {
  color: black;
}


::marker {
  color: white;
}

.nav {
  list-style: none;
}

.nav-link {
  color: rgb(255, 255, 255);
}

#search-div {
  text-align: center;
}

#movie-figures {
  display: flex;
  flex: wrap;
  margin-bottom: 40px;
}

#mov-card {
  padding-bottom: 1px;
}


.card {
  padding: 2px;
}

.container {
  max-width: 50%;
}
